@font-face {
    font-family: 'GlacialIndifference';
    src: url('/assets/GlacialIndifference-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GlacialIndifference';
    src: url('/assets/GlacialIndifference-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'GlacialIndifference';
    src: url('/assets/GlacialIndifference-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'PublicPixel';
    src: url('/assets/PublicPixel.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

:root {
    --main-level-6: #2C2934;
    --main-level-5: #423658;
    --main-level-4: #5C438F;
    --main-level-3: #7E5BC6;
    --main-level-2: #836BD6;
    --main-level-1: #A78BDC;
    --main-level-0: #C8B2F5;
    --black: #292929;
    --white: #DFDFDF;
    --grey: #766D88;
    --dark-grey: #3a3744;
    --blue: #64DFBE;
    --red: #DF5873;
    --green: #B0D687;
    --yellow: #DFB774;
    --orange: #DF836B;
    --pink: #DF63C4;
}

* {
    box-sizing: border-box;
}

html,body {
    font-family: 'GlacialIndifference', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: var(--main-level-6);
    color: var(--white);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.hidden {
    display: none;
}

.shown {
    display: flex;
}

.welcome-screen {
    font-family: 'PublicPixel', sans-serif;
}

#title {
    flex:1;
}

#home-menu {
    flex:1;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 4%;
}

#game-intro {
    flex:1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10%;
}

#intro-text {
    font-size: 1.8em;
    font-family: 'GlacialIndifference', sans-serif;
    color: var(--white);
    text-align: center;
    margin-top: 10px;
}

.menu-button {
    background-color: var(--main-level-6);
    border: 12px dashed;
    border-radius: 10px;
    padding: 30px 50px;
    text-align: center;
    display: inline-block;
    font-family: 'PublicPixel', sans-serif;
    font-size: 6vh;
    cursor: pointer;
}

.menu-button:hover {
    background-color: var(--dark-grey);
    transition: background-color 0.3s ease;
}

#start-snake-btn {
    border-color: var(--green);
    color: var(--green);
}


#start-pacman-btn {
    border-color: var(--yellow);
    color: var(--yellow);
}

.gameTitle {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
    width: 100%;
    margin: 0;
    color: var(--main-level-3);
    font-size: clamp(16px, 10vh, 10vw);
}

.gameTitle p {
    color: var(--main-level-1);
}

#game-screen {
    flex-direction: column;
    height: 100%;
    width: 100%; 
}

header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 20px;
    height: fit-content;
}

h1 {
    font-size: 2em;
    font-weight: bold;
    color: var(--main-level-0);
    margin: 5px;
}
p {
    font-size: 1.5em;
    color: var(--white);
    margin: 5px;
}

#game-container {
    flex: 1;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60%;
    justify-content: center;
    gap: 25px;
}

#editor-container {
    width: 65%;
    background-color: var(--black);
}

#terminal-container {
    width: 30%;
    background-color: var(--main-level-6);
    padding: 10px;
    font-family: monospace;
    border: var(--main-level-0) 3px solid;
    border-radius: 20px;
}

#terminal-container .xterm-viewport {
    overflow-y: hidden; /* Masque la barre de défilement verticale */
}

#menu-container {
    flex: 0 0 15%;
    display: flex;
    justify-content: end;
    width: 100%;
    height: auto;
    flex-direction: row;
    padding-right: 20px;
    gap: 15px;
    overflow: visible;
}

.game-button {
    background-color: var(--main-level-4);
    border: none;
    color: var(--main-level-0);
    border-radius: 10px;
    padding: 20px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    margin: auto 0;
}

.game-button:hover {
    background-color: var(--main-level-1);
    color: var(--main-level-4);
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.game-button:disabled {
    background-color: var(--grey);
    color: var(--white);
    cursor: not-allowed;
}

/* Style de la pop-up */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none; /* Par défaut, caché */
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    background-color: var(--white);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 80%;
    max-width: 500px;
}

.popup-title {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: var(--main-level-4);
}

.popup-message {
    font-size: 1.2em;
    margin-bottom: 25px;
    color: var(--black);
}

.cm-editor {
    height: 100%;
    font-family: monospace;
    font-size: 1.2em;
    background-color: var(--black);
}

.cm-gutters {
    background-color: var(--dark-grey);
    color: var(--main-level-0);
}

.cm-gutter {
    background-color: var(--dark-grey);
    color: var(--main-level-0);
}